{{- if .Values.readWriteMode }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: nirmata
  namespace: nirmata
secrets:
- name: nirmata-sa-secret
---
apiVersion: v1
kind: Secret
metadata:
  name: nirmata-sa-secret
  namespace: nirmata
  annotations:
    kubernetes.io/service-account.name: nirmata
type: kubernetes.io/service-account-token
---   
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: nirmata-cluster-admin-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: nirmata:nirmata-privileged
subjects:
- kind: ServiceAccount
  name: nirmata
  namespace: nirmata
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: nirmata-admin-binding
  namespace: nirmata
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: admin
subjects:
- kind: ServiceAccount
  name: nirmata
  namespace: nirmata
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: nirmata-controller
  namespace: nirmata
---   
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: nirmata-controller-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: view
subjects:
- kind: ServiceAccount
  name: nirmata-controller
  namespace: nirmata
---
apiVersion: "rbac.authorization.k8s.io/v1"
kind: "ClusterRole"
metadata:
  annotations: {}
  name: "nirmata:nirmata-privileged"
rules:
- apiGroups:
  - "kyverno.io"
  - "operator.kyverno.io"
  - "security.nirmata.io"
  nonResourceURLs: []
  resourceNames: []
  resources:
  - "policies"
  - "clusterpolicies"
  - "reportchangerequests"
  - "clusterreportchangerequests"
  - "kyvernooperators/status"
  - "kyvernooperators"
  - "imagekeys"
  - "imagekeys/status"
  - "imagekeys/finalizers"
  - "policyexceptions"
  - "policysets"
  - "policysets/status"
  - "cleanuppolicies"
  - "clustercleanuppolicies"
  - "kyvernoes"
  - "kyvernoes/status"
  - "kyvernoconfigs"
  - "kyvernoconfigs/status"
  verbs:
  - "*"
- apiGroups:
  - "wgpolicyk8s.io/v1alpha1"
  - "wgpolicyk8s.io/v1alpha2"
  nonResourceURLs: []
  resourceNames: []
  resources:
  - "policyreports"
  - "clusterpolicyreports"
  verbs:
  - "*"
- apiGroups:
  - "*"
  nonResourceURLs: []
  resourceNames: []
  resources:
  - "policies"
  - "policies/status"
  - "clusterpolicies"
  - "clusterpolicies/status"
  - "policyreports"
  - "policyreports/status"
  - "clusterpolicyreports"
  - "clusterpolicyreports/status"
  - "generaterequests"
  - "generaterequests/status"
  - "reportchangerequests"
  - "reportchangerequests/status"
  - "clusterreportchangerequests"
  - "clusterreportchangerequests/status"
  verbs:
  - "create"
  - "delete"
  - "get"
  - "list"
  - "patch"
  - "update"
  - "watch"
  - "deletecollection"
- apiGroups:
  - "apiextensions.k8s.io"
  nonResourceURLs: []
  resourceNames: []
  resources:
  - "customresourcedefinitions"
  verbs:
  - "get"
  - "list"
  - "watch"
- apiGroups:
  - "*"
  nonResourceURLs: []
  resourceNames: []
  resources:
  - "namespaces"
  - "networkpolicies"
  - "secrets"
  - "configmaps"
  - "resourcequotas"
  - "limitranges"
  - "deployments"
  - "services"
  - "serviceaccounts"
  - "roles"
  - "rolebindings"
  - "clusterroles"
  - "clusterrolebindings"
  - "events"
  - "mutatingwebhookconfigurations"
  - "validatingwebhookconfigurations"
  - "certificatesigningrequests"
  - "certificatesigningrequests/approval"
  - "poddisruptionbudgets"
  verbs:
  - "list"
  - "get"
  - "watch"
- apiGroups:
  - "*"
  nonResourceURLs: []
  resourceNames: []
  resources:
  - "*"
  verbs:
  - "get"
  - "list"
  - "watch"
- apiGroups:
  - "certificates.k8s.io"
  nonResourceURLs: []
  resourceNames:
  - "kubernetes.io/legacy-unknown"
  resources:
  - "certificatesigningrequests"
  - "certificatesigningrequests/approval"
  - "certificatesigningrequests/status"
  verbs:
  - "get"
  - "watch"
- apiGroups:
  - "certificates.k8s.io"
  nonResourceURLs: []
  resourceNames:
  - "kubernetes.io/legacy-unknown"
  resources:
  - "signers"
  verbs:
  - "approve"
- apiGroups:
  - "coordination.k8s.io"
  nonResourceURLs: []
  resourceNames: []
  resources:
  - "leases"
  verbs:
  - "get"
{{- else }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: nirmata
  namespace: {{ .Release.Namespace }}
secrets:
- name: nirmata-sa-secret
---
apiVersion: v1
kind: Secret
metadata:
  name: nirmata-sa-secret
  namespace: {{ .Values.namespace }}
  annotations:
    kubernetes.io/service-account.name: nirmata
type: kubernetes.io/service-account-token
---   
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: nirmata:readonly-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: view
subjects:
- kind: ServiceAccount
  name: nirmata
  namespace: {{ .Values.namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: nirmata:controller
  namespace: {{ .Values.namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: admin
subjects:
- kind: ServiceAccount
  name: nirmata
  namespace: {{ .Values.namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: nirmata:readonly
  labels:
    rbac.authorization.k8s.io/aggregate-to-view: "true"
rules:
- apiGroups: ["kyverno.io", "operator.kyverno.io"]
  resources:
  - policies
  - policies/status
  - clusterpolicies
  - clusterpolicies/status
  - policyexceptions
  - cleanuppolicies
  - clustercleanuppolicies
  - generaterequests
  - generaterequests/status
  verbs:
  - get
  - list
  - watch
  {{ if .Values.features.policyExceptions.enabled }}
  - create
  - update
  - patch
  - delete
  {{ end }}
- apiGroups: ["wgpolicyk8s.io"]
  resources:
  - policyreports
  - policyreports/status
  - clusterpolicyreports
  - clusterpolicyreports/status
  verbs:
  - get
  - list
  - watch
- apiGroups: ["policy.kubernetes.io"]
  resources:
  - reportchangerequests
  - reportchangerequests/status
  - clusterreportchangerequests
  - clusterreportchangerequests/status
  verbs:
  - get
  - list
  - watch
- apiGroups: ["security.nirmata.io"]
  resources:
  - imagekeys
  - imagekeys/status
  - kyvernoes
  - kyvernoes/status
  - policysets
  - policysets/status
  - kyvernooperators
  - kyvernooperators/status
  - kyvernoconfigs
  - kyvernoconfigs/status
  verbs:
  - get
  - list
  - watch
  {{ if .Values.features.policySets.enabled }}
  - create
  - update
  - patch
  - delete
  {{ end }}
- apiGroups: [""]
  resources:
  - nodes
  - componentstatuses
  verbs:
  - get
  - list
  - watch
{{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nirmata-kube-controller-config
  namespace: {{ .Values.namespace }}
data:
  WatchedResources: |-
    events.v1.
    policies.v1.kyverno.io
    clusterpolicies.v1.kyverno.io
    policyexceptions.v2alpha1.kyverno.io
    policyexceptions.v2beta1.kyverno.io
    policyexceptions.v2.kyverno.io
    policysets.v1alpha1.security.nirmata.io
  IgnoreEvents: Normal.PolicyPlaceHolder.*
  FilterPatches: |-
    /metadata/resourceVersion
    /metadata/generation
    /results/*/timestamp/*
  IgnoreFields: metadata.managedFields
  FilterEvents: Warning.PolicyViolation.*,Normal.PolicySkipped.*,Normal.PolicyModified.*,Normal.PolicyDeleted.*,Normal.PolicyApplied.Resource\
    \ Generated.*,Normal.PolicyApplied.Resource Mutated.*,Normal.PolicyTamperDetected.*,Normal.PolicyTamperReverted.*
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nirmata-kube-controller
  namespace: nirmata
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nirmata-kube-controller
      nirmata.io/container.type: system
      app.kubernetes.io/name: nirmata
      app.kubernetes.io/instance: nirmata
  template:
    metadata:
      labels:
        app: nirmata-kube-controller
        nirmata.io/container.type: system
        app.kubernetes.io/name: nirmata
        app.kubernetes.io/instance: nirmata
    spec:
      containers:
      - args:
        - -url
        - $(URL)
        - -event-aggregation
        - -upstream-connect-fail-timeout
        - 10m
        - -cluster-name
        - {{ .Values.cluster.name }}
        {{- if .Values.apiToken }}
        - -api-token
        - {{ .Values.apiToken }}
        {{- end }}
        {{- if .Values.apiTokenSecret }}
        - -api-token-secret
        - {{ .Values.apiTokenSecret }}
        {{- end }}
        command:
        - /nirmata-kube-controller
        env:
        - name: URL
          value: {{ default "wss://nirmata.io/tunnels" .Values.nirmataURL }}
        {{- if and .Values.proxy.httpProxy .Values.proxy.httpsProxy .Values.proxy.noProxy }}
        - name: HTTP_PROXY
          value: {{ .Values.proxy.httpProxy }}
        - name: HTTPS_PROXY
          value: {{ .Values.proxy.httpsProxy }}
        - name: NO_PROXY
          value: {{ .Values.proxy.noProxy }}
        {{- end }}
        image: "{{ .Values.imageRegistry }}:{{ .Chart.AppVersion | default .Values.imageTag}}"
        imagePullPolicy: Always
        livenessProbe:
          exec:
            command:
            - /nirmata-kube-controller
        name: nirmata-kube-controller
        readinessProbe:
          exec:
            command:
            - /nirmata-kube-controller
        resources:
          limits:
            memory: 2Gi
          requests:
            memory: 200Mi
            cpu: 250m
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          seccompProfile:
            type: RuntimeDefault
      hostNetwork: false
      imagePullSecrets:
      - name: nirmata-controller-registry-secret
      securityContext:
        seccompProfile:
          type: RuntimeDefault
      serviceAccountName: nirmata
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
        operator: Exists
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-agent-config
  namespace: {{ .Values.namespace }}
data:
  config.yaml: |-
    receivers:
      prometheus:
        config:
          scrape_configs:
          - job_name: kyverno
            scrape_interval: 1m
            static_configs:
            - targets: [kyverno-svc-metrics.kyverno.svc.cluster.local:8000]
            metric_relabel_configs:
            - source_labels: [__name__]
              regex: (kyverno_admission_review_duration_seconds.*|kyverno_policy_execution_duration_seconds.*|kyverno_policy_results_total|kyverno_policy_rule_info_total|kyverno_admission_requests_total|kyverno_controller_reconcile_total|kyverno_controller_requeue_total|kyverno_controller_drop_total)
              action: keep
    exporters:
      prometheusremotewrite:
        endpoint: https://staging.nirmata.co/host-gateway/metrics-receiver
        external_labels:
          clusterId: 8b0919f4-2ed8-4c7d-94cc-f04ab849a2a7
        remote_write_queue:
          queue_size: 2000
          num_consumers: 1
        timeout: 300s
    service:
      pipelines:
        metrics:
          receivers: [prometheus]
          exporters: [prometheusremotewrite]
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: otel-agent
  namespace: {{ .Values.namespace }}
  labels:
    app: opentelemetry
    component: otel-agent
    app.kubernetes.io/instance: nirmata
    app.kubernetes.io/name: nirmata
spec:
  selector:
    matchLabels:
      app: opentelemetry
      component: otel-agent
      app.kubernetes.io/instance: nirmata
      app.kubernetes.io/name: nirmata
  template:
    metadata:
      labels:
        app: opentelemetry
        component: otel-agent
        app.kubernetes.io/instance: nirmata
        app.kubernetes.io/name: nirmata
    spec:
      containers:
      - name: otel-agent
        command:
        - /otelcol
        - --config=/etc/otel/config.yaml
        image: ghcr.io/nirmata/opentelemetry-collector:0.92.0
        resources:
          limits:
            memory: 512Mi
          requests:
            cpu: 100m
            memory: 200Mi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          seccompProfile:
            type: RuntimeDefault
        livenessProbe:
          httpGet:
            path: /metrics
            port: 8888
            scheme: HTTP
        readinessProbe:
          httpGet:
            path: /metrics
            port: 8888
            scheme: HTTP
        volumeMounts:
        - mountPath: /etc/otel/config.yaml
          name: data
          subPath: config.yaml
          readOnly: true
      terminationGracePeriodSeconds: 30
      volumes:
      - name: data
        configMap:
          name: otel-agent-config
      imagePullSecrets:
      - name: nirmata-controller-registry-secret
