apiVersion: v1
kind: Service
metadata:
  name: {{ include "reports-server.fullname" . }}
  namespace: {{ $.Release.Namespace }}
  labels:
    {{- include "reports-server.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - name: https
    port: {{ .Values.service.port }}
    protocol: TCP
    targetPort: https
  {{- if .Values.metrics.enabled }}
  - name: metrics
    port: 8080
    protocol: TCP
    targetPort: metrics
  {{- end }}
  selector:
    {{- include "reports-server.selectorLabels" . | nindent 4 }}
