apiVersion: v2
type: application
name: kyverno
version: 3.6.1-rc.2
appVersion: v1.16.1-n4k.nirmata.2
icon: https://github.com/kyverno/kyverno/raw/main/img/logo.png
description: Kubernetes Native Policy Management
keywords:
  - kubernetes
  - nirmata
  - policy agent
  - policy
  - validating webhook
  - admission controller
  - mutation
  - mutate
  - validate
  - generate
  - supply chain
  - security
home: https://kyverno.io/
sources:
- https://github.com/nirmata/enterprise-kyverno
maintainers:
- name: Nirmata
  url: https://nirmata.com/
kubeVersion: ">=1.25.0-0"
annotations:
  artifacthub.io/operator: "false"
  artifacthub.io/prerelease: "false"
  artifacthub.io/links: |
    - name: Documentation
      url: https://kyverno.io/docs
  # valid kinds are: added, changed, deprecated, removed, fixed and security
  artifacthub.io/changes: |
    - kind: fixed
      description: Ensure spec.template.metadata isn't null
    - kind: removed
      description: Remove the `delete` permission for policyexceptions in the admission controller
    - kind: changed
      description: Enable the flag `--generateValidatingAdmissionPolicy` by default in the admission controller.
    - kind: changed
      description: Enable the flag `--validatingAdmissionPolicyReports` by default in the reports controller.
dependencies:
  - name: grafana
    version: 3.6.1-rc.1
    condition: grafana.enabled
  - name: crds
    version: 3.6.1-rc.1
    condition: crds.install
  - name: reports-server
    version: 0.2.9
    repository: "https://nirmata.github.io/kyverno-charts"
    condition: reports-server.install
  - name: openreports
    version: "0.1.0"
    repository: "https://openreports.github.io/reports-api"
    condition: openreports.installCrds
