apiVersion: v2
type: application
name: kyverno
version: 3.3.1-rc1
appVersion: v1.13.2-n4k.nirmata.2-rc5
icon: https://github.com/kyverno/kyverno/raw/main/img/logo.png
description: Kubernetes Native Policy Management
keywords:
- kubernetes
- nirmata
- policy agent
- policy
- validating webhook
- admission controller
- mutation
- mutate
- validate
- generate
- supply chain
- security
home: https://kyverno.io/
sources:
- https://github.com/nirmata/enterprise-kyverno
maintainers:
- name: Nirmata
  url: https://kyverno.io/
kubeVersion: ">=1.22.0-0"
annotations:
  artifacthub.io/operator: "false"
  artifacthub.io/prerelease: "false"
  artifacthub.io/links: |
    - name: Documentation
      url: https://kyverno.io/docs
  # valid kinds are: added, changed, deprecated, removed, fixed and security
  artifacthub.io/changes: |
    - kind: added
      description: Add a key to preserve configmap settings during upgrade
    - kind: added
      description: Make admission reports breaker threshold configurable
    - kind: added
      description: ImagePullSecrets made globally configurable
    - kind: removed
      description: Deprecated configuration `features.reports.chunkSize` was removed
    - kind: added
      description: ImagePullSecrets made configurable for tests
dependencies:
- name: reports-server
  version: 0.1.5-rc.1
  condition: reportsServer.enabled
  repository: https://nirmata.github.io/reports-server
- name: grafana
  version: 3.3.4
  condition: grafana.enabled
- name: crds
  version: 3.3.4
  condition: crds.install
