{{- if .Values.admissionController.enabled -}}
apiVersion: nirmata.io/v1alpha1
kind: Proxy
metadata:
  name: default-proxy
spec:
  port: 8443
  caKeySecret:
    name: cloud-controller-admission-controller-svc.nirmata.svc.tls-ca
    namespace: nirmata
  urls:
    - ".*.amazonaws.com"
  policySelectors:
    - matchLabels:
        app: cloud-control-point
{{- end }}