{{- if .Values.admissionController.enabled -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ template "cloud-control.admission-controller.serviceAccountName" . }}
  namespace: {{ template "cloud-control.namespace" . }}
  labels:
  {{- include "cloud-control.admission-controller.labels" . | nindent 4 }}
  annotations:
    {{- toYaml .Values.admissionController.serviceAccount.annotations | nindent 4 }}
{{- end }}