---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.10.0
  labels:
    app.kubernetes.io/part-of: enterprise-kyverno-operator
  creationTimestamp: null
  name: kyvernoes.security.nirmata.io
spec:
  group: security.nirmata.io
  names:
    kind: Kyverno
    listKind: KyvernoList
    plural: kyvernoes
    singular: kyverno
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.namespace
      name: Namespace
      type: string
    - jsonPath: .spec.version
      name: Version
      type: string
    - jsonPath: .spec.replicas
      name: Replicas
      priority: 2
      type: integer
    - jsonPath: .status.isRunning
      name: Running
      type: boolean
    - jsonPath: .status.isHA
      name: HA Mode
      type: boolean
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Kyverno is the Schema for the kyvernoes API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: KyvernoSpec defines the desired state of Kyverno
            properties:
              apiKey:
                type: string
              helm:
                additionalProperties:
                  type: object
                  x-kubernetes-preserve-unknown-fields: true
                description: Finer customizations for each component are provided
                  in a generic object structure, typically matching the value.yaml
                  of individual components
                type: object
              licenseKey:
                type: string
              namespace:
                default: kyverno
                enum:
                - kyverno
                type: string
              replicas:
                default: 1
                format: int32
                type: integer
              repository:
                default: ghcr.io/nirmata/kyverno
                type: string
              secrets:
                description: Secrets storing licenseKey, apiKey
                type: string
              version:
                default: v1.9.5-n4k.nirmata.1
                type: string
            type: object
          status:
            description: KyvernoStatus defines the observed state of Kyverno
            properties:
              conditions:
                description: Conditions provide observations of the operational state
                  of a Cluster API resource.
                items:
                  description: Condition defines an observation of a Cluster API resource
                    operational state.
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another. This should be when the underlying condition changed.
                        If that is not known, then using the time when the API field
                        changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition. This field may be empty.
                      type: string
                    reason:
                      description: The reason for the condition's last transition
                        in CamelCase. The specific API may choose whether or not this
                        field is considered a guaranteed API. This field may not be
                        empty.
                      type: string
                    severity:
                      description: Severity provides an explicit classification of
                        Reason code, so the users or machines can immediately understand
                        the current situation and act accordingly. The Severity field
                        MUST be set only when Status=False.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of condition in CamelCase or in foo.example.com/CamelCase.
                        Many .condition.type values are consistent across resources
                        like Available, but because arbitrary conditions can be useful
                        (see .node.status.conditions), the ability to deconflict is
                        important.
                      type: string
                  required:
                  - lastTransitionTime
                  - status
                  - type
                  type: object
                type: array
              haCheckFailureReason:
                type: string
              isHA:
                type: boolean
              isRunning:
                type: boolean
              lastUpdated:
                format: date-time
                type: string
            required:
            - isHA
            - isRunning
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
