---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: kyvernoconfigs.security.nirmata.io
spec:
  group: security.nirmata.io
  names:
    kind: KyvernoConfig
    listKind: KyvernoConfigList
    plural: kyvernoconfigs
    shortNames:
    - kycfg
    - kyvernocfg
    - kyvernoconf
    singular: kyvernoconfig
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.namespace
      name: Namespace
      type: string
    - jsonPath: .status.version
      name: Version
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: KyvernoConfig is the Schema for the kyvernoconfig API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: KyvernoConfigSpec defines the desired state of Kyverno
            type: object
          status:
            description: KyvernoStatus defines the observed state of Kyverno
            properties:
              health:
                properties:
                  conditions:
                    items:
                      properties:
                        message:
                          type: string
                        properties:
                          type: string
                        status:
                          type: string
                        type:
                          type: string
                      required:
                      - message
                      - status
                      - type
                      type: object
                    type: array
                  lastUpdateTime:
                    format: date-time
                    type: string
                type: object
              lastUpdated:
                format: date-time
                type: string
              namespace:
                type: string
              version:
                type: string
            required:
            - health
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
