name: Run N4K Tests in N4K Automation Repository

on:
  pull_request:
    branches:
      - main
      - release-*
  workflow_call:
    inputs:
      n4k_chart_version:
        type: string
        required: true
        default: "3.3.38"

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Trigger all tests
      uses: actions/github-script@v6
      env:
        N4K_CHART_VERSION: ${{ inputs.n4k_chart_version }}
      with:
        github-token: ${{ secrets.TEST_TOKEN }}
        script: |
          const fs = require("fs");
          const data = JSON.parse(fs.readFileSync(".github/config/n4k-tests.json", "utf8"));
          const version = process.env.N4K_CHART_VERSION;
          if (!version) {
            console.log("No n4k_chart_version input provided; skipping workflow.");
            return;
          }

          const owner = "nirmata";
          const repo = "n4k-automation";

          for (const wf of data.workflows) {
            console.log("Triggering workflow:", wf);

            await github.rest.actions.createWorkflowDispatch({
              owner,
              repo,
              workflow_id: wf,
              ref: "main",
              inputs: {
                n4k_chart_version: version
              }
            });
          }
        

