name: Run N4K Tests in N4K Automation Repository

on:
  pull_request:
    branches:
      - main
      - release-*
  push:
    paths:
      - 'charts/nirmata/Chart.yaml'
    branches:
      - main
      - release-*

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Run N4K Tests
        run: |
            curl -X POST \
                -H "Authorization: token ${{ secrets.TEST_TOKEN }}" \
                -H "Accept: application/vnd.github+json" \
                https://api.github.com/repos/nirmata/n4k-automation/dispatches \
                -d '{"event_type":"run-n4k-all-events","client_payload":{"n4k_chart_version":"3.3.38"}}'

